#back {
  background-image: url(images/cinnee.jpeg);
  color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
}


button {
  width: 48%;
  padding: 8px;
  margin-right: 2%;
  border: none;
  border-radius: 4px;
  background-color: #ffc107;
  color: #000;
  cursor: pointer;
}


