
<div class="container">
  <div class="row">
    <!-- <div>
      <h1>Hola mundo</h1>
    <h2>{{title}}</h2>
    </div>

      <div>
        La suma de 1 + 1 es {{1 + 1}}
      </div>

      <div>
        el doble es {{duplicaNumero(3)}}
      </div>

      <div>
      <h1>{{pelicula.titulo | uppercase}} </h1>
        <h2> {{pelicula.anio | date: 'dd-MMMM-yyyy'}} </h2>
        <h3>{{pelicula.precio | currency}}</h3>
      </div> -->



    <!-- <app-heroes-list>
    </app-heroes-list> -->

    <app-operas-bas/>

    <router-outlet />
  </div>
</div>
